mat-panel-title {

  font-family: monospace;
  font-size: large;
}


#addTodo {
  flex-basis: 100%;
  max-width: 100%;
}

#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

#todo-list-title {
  font-family: monospace;
  font-size: xx-large;
  background-color: #dae4e6;
}
input {
  background: #dae4e6;
}

mat-expansion-panel:hover {
  background: rgba(3, 169, 244, 0.35);
}
